*{
 margin: 0px;
 padding: 0px;
 list-style: none;
 --Oswald: 'Oswald', sans-serif;
 --Roboto: 'Roboto', sans-serif;
 outline: none;
 --gris:#d9d9d9 ;
 --verde:  #00877e;
 text-decoration: none;
 /* background-color: var(--gris); */
}
/* TODO: Menu top */

.topMenu{
 width: 100%;
 height:50px;
 background-color: var(--verde);
}
.topMenu ul{
 display: grid;
 width: 100%;
 height: 50px;
}
.topMenu ul .wrap{
 display: flex;
 justify-content: space-between;
}
.wrapitem{
 display: flex;
 width: 70%;
}
.wrap-out{
 display: flex;
 width: 30%;;
 justify-content: flex-end;
 color: black;
}
.topMenu .wrapitem .item, .wrap-out{
 font-size: 30px;
 margin: 10px;
}
.topMenu .wrapitem input,button{
 padding: 5px;
 border-radius: 4px;
 border: 1px solid rgba(161,161,161,063);
 margin: 10px;
}
/* ----------------- */
/* TODO: Menu left */

.wrapLeftMenu{
  transform: translateX(-250px);
  width: 240px;height: 100vh;
  background-color: #d9d9d9;
  position: fixed;
  left: 0px;
  top: 0px;
  box-shadow: 20px 0px 20px -25px black;
  z-index: 2;
}
.backLeftMenu{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: none;
}
.leftMenu{ margin-top: 50px; }

 .itemLeft{
   font-size: 20px;
   text-decoration: none;
   color:#000;
   padding: 20px 10px;
   height: 50px;
   margin: 10px 0px;
   font-family: var(--Oswald);
   text-transform: capitalize;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }
 .itemLeft i{ margin-right: 10px; }
.itemLeft:hover{ background-color: #a8a8a8; }
/* ---------------------- */
/* TODO: Registar Docente */
.wrapRegis{
 width: 50%;
 border: 1px solid rgb(121, 121, 121);
 margin: 25px 330px;
 text-align: center;
 color: #444346;
 font-family: var(--Roboto);
 justify-content: center;
 align-items: center;
 top: 0px;
 left: 0px;
}
.wrapRegis label{
 display: block;
 margin: 5px;
}
.wrapRegis .form-group .k{
 padding: 7px 10px;
 border-radius: 4px;
 border: 1px solid rgba(161,161,161,063);
 width: 40%;
}
